*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    background:#04382E;
    color:#F4EFD3;
    font-family:'Montserrat', sans-serif;
}


/* MENU SUPERIOR */

header{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100px;
    background:#04382E;
    border-bottom:1px solid #E0A267;
    z-index:999;
}


.navbar{

    height:100%;

    max-width:1200px;

    margin:auto;

    padding:0 40px;

    display:flex;

    justify-content:space-between;

    align-items:center;

}


/* LOGO */

.logo{

    font-family:'Bodoni Moda', serif;

    color:#E0A267;

    font-size:55px;

    font-weight:400;

    letter-spacing:12px;

}



/* MENU */

.menu{

    display:flex;

    gap:30px;

    list-style:none;

}


.menu a{

    color:#F4EFD3;

    text-decoration:none;

    font-size:14px;

    letter-spacing:2px;

}


.menu a:hover{

    color:#E0A267;

}



/* PRIMEIRA PARTE */

.hero{

    min-height:100vh;

    padding-top:100px;

    display:flex;

    justify-content:center;

    align-items:center;

    text-align:center;


    background:

    linear-gradient(
    rgba(4,56,46,0.75),
    rgba(4,56,46,0.90)
    ),

    url("https://images.unsplash.com/photo-1414235077428-338989a2e8c0?w=1600");


    background-size:cover;

    background-position:center;

}



.hero h2{

    font-family:'Bodoni Moda',serif;

    font-size:70px;

    font-weight:400;

    color:#F4EFD3;

    letter-spacing:3px;

}


.hero p{

    margin:30px auto;

    max-width:700px;

    font-size:18px;

    line-height:1.8;

}



/* BOTÃO */


.botao{

    display:inline-block;

    padding:15px 40px;

    background:#E0A267;

    color:#04382E;

    text-decoration:none;

    border-radius:30px;

    font-weight:bold;

}



/* TODAS AS SEÇÕES */

section{

    padding:120px 10%;

    text-align:center;

    scroll-margin-top:100px;

}



section h2{

    font-family:'Bodoni Moda',serif;

    color:#E0A267;

    font-size:45px;

    font-weight:400;

    letter-spacing:3px;

    margin-bottom:40px;

}



section p{

    max-width:900px;

    margin:auto;

    font-size:17px;

    line-height:2;

}



/* CARDÁPIO */


.cards{

    display:flex;

    justify-content:center;

    gap:30px;

    flex-wrap:wrap;

}



.card{

    width:320px;

    background:#052F27;

    border:1px solid #E0A267;

    padding-bottom:25px;

}


.card img{

    width:100%;

    height:220px;

    object-fit:cover;

}


.card h3{

    font-family:'Bodoni Moda',serif;

    font-size:28px;

    color:#F4EFD3;

    margin:20px;

}


.card span{

    display:block;

    margin-top:20px;

    color:#E0A267;

    font-size:20px;

}



/* RODAPÉ */

footer{

    background:#03271F;

    padding:30px;

    text-align:center;

}



/* CELULAR */

@media(max-width:900px){

.navbar{

    flex-direction:column;

    padding:20px;

}


header{

    height:auto;

}


.logo{

    font-size:40px;

}


.menu{

    margin-top:15px;

    flex-wrap:wrap;

    justify-content:center;

}


.hero h2{

    font-size:45px;

}

}
